body {
    margin: 0;
    padding: 0;
    background-color: #EE9322;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 16px;
}

button {
    display: block;
    min-width: 200px;
    min-height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid #EE9322;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
    color:#EE9322;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

button:hover,
.active {
    background-color: #EE9322;
    color: #F6EBDC;
}

.header {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 24px 8px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    border-radius: 12px;
}

.grid {
    height: 600px;
    aspect-ratio: 1/1;
    padding: 0;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
    border: 0.5px solid lightgray;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
}

.footer {
    min-height: 50px;
    text-align: center;
}

.light {
    background-color: #F6EBDC;
}

#colourPicker {
    width: 80px;
    height: 30px;
    border: none;
    background-color: #F6EBDC;
}